# Results of Testing

The test results show the actual outcome of the testing, following the [Test Plan](test-plan.md)

---

## List displaying correctly

The list which contains the counters displays correctly with no inaccuracies.

### Test Data Used

The test data used was a list of 16 spaces with 4 "o" counters
and 1 "x" counter displayed randomly on the board to show that 
the code I used to show this is functional.

### Test Result

![Test List.png](screenshots/Test List.png)

This test resulted in the list displaying the counters working perfectly as I had wanted it to.
It correctly displayed the counters, space numbers, and space borders.

---

## Example Test Name

Example test description. Example test description.Example test description. Example test description.Example test description. Example test description.

### Test Data Used

Details of test data. Details of test data. Details of test data. Details of test data. Details of test data. Details of test data. Details of test data.

### Test Result

![example.png](screenshots/example.png)

Comment on test result. Comment on test result. Comment on test result. Comment on test result. Comment on test result. Comment on test result.

---

